@define-color foreground {foreground};
@define-color background {background};
@define-color cursor {cursor};

@define-color color0 {color0};
@define-color color1 {color1};
@define-color color2 {color2};
@define-color color3 {color3};
@define-color color4 {color4};
@define-color color5 {color5};
@define-color color6 {color6};
@define-color color7 {color7};
@define-color color8 {color8};
@define-color color9 {color9};
@define-color color10 {color10};
@define-color color11 {color11};
@define-color color12 {color12};
@define-color color13 {color13};
@define-color color14 {color14};
@define-color color15 {color15};

window {{
        background-color: rgba (0, 0, 0, 0);
}}

#outer-box {{
	margin: 0px;
}}

#inner-box {{
	background-color: alpha(@background, 0.85);
	border-radius: 10px;
	border: none;
	padding: 5px;
	margin: 5px;
}}

button, image {{
	background: none;
	border: none;
	box-shadow: none
}}

button {{
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
	background-color: alpha(@color1, 0.05);
}}

button:hover {{
	background-color: alpha(@foreground, 0.1);
}}
